<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>169721566449-rd1qnbmn76u1n5d8mp9sc9p1c6in2gi1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169721566449-rd1qnbmn76u1n5d8mp9sc9p1c6in2gi1</string>
	<key>API_KEY</key>
	<string>AIzaSyA6QhkTlB9yOoqux74cTBb52UL-e2HuX9M</string>
	<key>GCM_SENDER_ID</key>
	<string>169721566449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navi</string>
	<key>PROJECT_ID</key>
	<string>navi-c6d54</string>
	<key>STORAGE_BUCKET</key>
	<string>navi-c6d54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169721566449:ios:25e8b7e7dfa54eaf</string>
	<key>DATABASE_URL</key>
	<string>https://navi-c6d54.firebaseio.com</string>
</dict>
</plist>
